  <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/audiobook-narrator">Audiobook Narrator</a></li>
                <li><a href="{{ site.baseurl }}/director">Director</a></li>
                <li><a href="{{ site.baseurl }}/actor">Actor</a></li>
                <li><a href="{{ site.baseurl }}/professor">Professor</a></li>
                <li><a href="{{ site.baseurl }}/writer">Writer</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
        </nav>
